<%= form_for [@customer, @order] do |form| %>

  <div class="field">
    <%= form.label :order %><br />
    <%= form.text_area :order %>
  </div>
  <div class="field">
    <%= form.label :order_no %><br />
    <%= form.number_field :order_no %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
	