<p id="notice"><%= notice %></p>

<p>
  <b>Order:</b>
  <%= @order.order %>
</p>

<p>
  <b>Order no:</b>
  <%= @order.order_no %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
